---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-800 font-serif flex items-center">
      <span class="sr-only">Church Name</span>
      <img 
        src="/uploads/logo.webp" 
        alt="Church Name Logo"
        class="h-16 w-auto mr-2 object-contain"
      />
      <span class="text-primary-800">Chirch Name</span>
    </a>
    
    <Navigation />
  </div>
</header>